@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #018786;
  --white: #fafafa;
}

body {
  background: var(--white);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--green);
  color: var(--white);
  text-align: center;
  padding: 15px;
}
